:root{
    --orange: #ff880d;
}
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    outline: none !important;
}
body {
    background-color:rgb(219, 219, 219);
	font-family:  Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
}
#to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid var(--orange);
    border-radius: 3px;
    text-align: center;
}

#to-top i{
    color: var(--orange);
    font-size: 20px;
    line-height: 35px;
}
/* Header */

/* .header {
    background-color: #222;
    height: auto;
    padding: 5px 0px;
}

.header .container{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .search-box{
    position: relative;
    border-radius: 3px;
    height: 40px;
    width: 40%;
    overflow: hidden;
    background: #fff;
}

.header .search-box input{
    height: 100%;
    padding-left: 10px;
    border: none;
}

.header .search-box i{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 40px;
    text-align: center;
    width: 40px;
    cursor: pointer;
}

.header .search-box i:hover{
    background: #ccc;
}

.header ul{
    margin: 0;
    display: flex;
    gap: 5px
}

.signin-signup-btn a{
    display: inline-block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    border: 2px solid var(--orange);
}

.signin-signup-btn a:hover{
    opacity: 0.8;
}

.header .signin-btn{
    background: rgba(255, 255, 255, 0.1);
    color: var(--orange);
}

.header .signup-btn{
    background: var(--orange);
    color: #fff;
} */

.header {
    background-color: #222;
    height: auto;
    padding: 5px 0px;
}
.header .container {
    max-width: 1100px;
    margin: auto;
    height: 100%;
    vertical-align: middle;
}
.header .container table{
   padding:10px;
}
.header > .container input {
    width: 100%;
    height: 36px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
}

.header td ul {
    height: 100%;
    padding: auto;
	padding-top:15px;
}
.header a {
    color: var(--orange);
    font-size: 18px;
    margin-top: 10px;
}

.header ul li:first-child::after {
    content: " / ";
    color: #fff;
}
.header a:hover {
    text-decoration: underline;
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.header li {
    display: inline;
}

.header img {
    width: 100%;
    padding-right: 20px;
}

/* End Header */

/* Navigation */
.navbar {
	background-color: rgba(199, 198, 201, 0.9) !important;
    height: 50px;
}


nav .container {
    max-width: 1100px;   
}
.navbar li a {
    color:black !important ;
    height: 50px;
    padding: 13px 0px;
    font-size: 16px;
    background-color: rgba(199, 198, 201, 0.9)
   
}
.navbar .nav-link.active {
    background-color: #fff;
    color: var(--orange) !important;
}
.navbar li a:hover {
    color: var(--orange) !important;
    background-color: rgb(233, 233, 233);
}
.ml-auto {
	background-color: rgba(199, 198, 201, 0.9)
}


ul.ml-auto > li{
    position: relative;
    text-indent: 5px;
	margin:0px;
   
}
div.submenu {
    display: none;
    position: absolute;
    z-index: 100;
}

div.submenu li {
    text-indent: 5px;
    padding: 5px;
	height:30px;
    width: 200px;
    list-style: none;
   
}
div.submenu li a:hover {
    text-decoration: none;
    
}
div.submenu li {
    background-color: rgb(233, 233, 233);
}
div.submenu li a {
    background-color: rgb(233, 233, 233);
}
ul.ml-auto li:hover div.submenu {
    display:block;

}

.container-fluid{
    padding: 0;
    width: 100%;
}

.navbar-nav a{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.ml-auto{
    margin: 0 !important;
}


/* End Navigation */


/* Main */
div.main {
    max-width: 1100px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 15px;
    min-height: 460px;

}
    .main > .container{
        padding: 0;
    }
    /* Begin: breadcrumb */
    .breadcrumb {
        background: transparent;
        margin-bottom: 0px;
        padding: 0;
    }
    
    .breadcrumb li:not(:last-child):after{
        content: " \00BB";
    }
    
    .breadcrumb a{
        color: cornflowerblue;
    }
    
    .breadcrumb a:hover{
        text-decoration: underline;
    }
    .breadcrumb ul li {
        display: inline;
    }
    ul{
        list-style: none;
    }
    
   
       
/* End: breadcrumb */
/* End Main */
button {
	border:none;
}
h1 {
	color: #6F9DE3;
	font-style: italic;
	font-size: 25px;
    font-weight: bold;
}
h5 {
    font-weight: bold;
}
.a1 {
	color: #000;
	text-decoration: none;
	font-size: 17px;
	margin-bottom:5px;
    clear: both;
	position: relative;
}
.a1:hover {
    color: var(--orange);
    text-decoration: none;
}
.a3 {
    color: cornflowerblue;
}
a {
    color: #000;
}
a:hover {
    color: var(--orange);
    text-decoration: none;
}
.a1:hover .detail {
	display: block;
}
.detail {
	display: none;
	background-color: #dfdfdf;
    border: 1px solid black;
	color: black;
	position: absolute;
	width: 300px;
	max-height: 300px;
    padding: 15px;
    overflow: hidden;
    font-size: 14px;
    z-index: 100;
}
.detail h5 {
    color: var(--orange);
}
.color 
{
    color: var(--orange);
}

/* #backtop {
    margin-left: 20px;
    font-size: 30px;
}
#backtop i {
    padding: 15px;
    background-color: lightgray;
}
#backtop i:hover {
    background-color: var(--orange);
    color: white;
} */

/* Footer */


.footer {
    width: 100%;
    font-weight: 200;
    font-size: 15px;
    background: #222;
    color: lightgray;
}

.footer p{
    margin: 0;
}

.footer a{
    color: lightgray;
    display: block;
}

.footer a:hover{
    color: rgb(155, 155, 155);
}

.footer i{
    color: var(--orange);
}

.footer a:hover i{
    animation: rotate360 1s;
}

@keyframes rotate360{
    from{
        transform: rotate(0);
         /* color: aqua; */
    }
    to{
        transform: rotate(360deg);
        /* color: brown; */
    }
}

.footer .container {
    max-width: 1100px;
    padding: 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer .container > div{
    padding: 15px;
}

.footer .title{
    font-size: 20px;
    font-weight: 600;
    display: block;
    position: relative;
    color: #fff;
    margin-bottom: 5px;
}


.footer .contact,
.footer .social{
    line-height: 1.8;
}

.footer i{
    padding-right: 5px;
}

.footer .logo{
    height: 50px;
}

.footer .copyright{
    margin-bottom: 5px;
    font-size: 13px;
}

.footer .contact p{
    font-size: 15px;
    font-weight: 500;
}


@media (max-width: 768px)
{
    html{
        font-size: 15px;
    }

    /* .header img {
        max-width: 100px;
    }

    
    .header .search-box{
        height: 34px;
    } 
    .header .search-box i{
        line-height: 34px;
    }

    .signin-signup-btn a{
        height: 32px;
        line-height: 32px;
        padding:  0 5px;
        font-size: 12px;
    } */

    p{
        margin: 0;
    }
    .header li {
        margin: 0px;
        padding: auto;
    }
	
    .submenu li {
        height: 25px;
    }
	.header input {
		font-size:smaller;
		text-index: -5px;
	}

    .footer{
        text-align: center;
    }

	.footer .container {
		flex-direction: column;
	}
    
    .footer .container > div:not(:last-child) {
        border-bottom: 1px solid lightgray;
    }
    .header tr td:last-child{
        width: 35% !important;
    }
    
}

@media (max-width: 576px) {
    html{
        font-size: 14px;
    } 

    .header td:first-child{
        width:  20% !important;
    }

    .header img{
        width:  100%;
    }

    .header a{
        font-size: 14px;
    }

    .header tr td:last-child{
        width: 30% !important;
    }
    

}
